<h1><%= @assignment.title %></h1>
<p><%= @assignment.description %></p>
<% if @assignment.due_date %>
	<h4>Due: <%= @assignment.due_date %></h4>
<% end %>

<% type = current_user.user_type %>
<% unless type == "Student" %>
	<%= link_to "Edit Assignment", edit_assignment_url(@assignment) %>

	<h2>Assign this Problem Set...</h2>
	
	<form action="<%= assignment_course_assignments_url(@assignment) %>">
		<%= authenticity_token %>
		
		<label for="course_id">...to a Course:</label>
		<select name="course_id" id="course_id">
			<option "selected">--SELECT--</option>
			<% @unassigned_courses.each do |course| %>
				<option value="<%= course.id %>"><%= course.title %></option>
			<% end %>
		</select>
		
		<button>Assign to Course</button>
	</form>
		
	<form action="<%= assignment_student_assignment_links_url(@assignment) %>">
		<%= authenticity_token %>
	
		<label for="student_id">...to a Student:</label>
		<select name="student_id" id="student_id">
			<option "selected">--SELECT--</option>
			<% @unassigned_students.each do |student| %>
				<option value="<%= student.id %>"><%= student.name %></option>
			<% end %>
		</select>
	
		<button>Assign to Student</button>
	</form>
<% end %>

<% unless @problems.empty? %>
	<ul>
		<% @problems.each do |problem| %>
			<li>
				<% if type == "Student" %>
					<h3><%= problem.title %></h3>
				<% else %>
					<h3><a href="<%= problem_url(problem) %>"><%= problem.title %></a></h3>
				<% end %>
				
				<p><%= problem.body %></p>
			</li>
		<% end %>
	</ul>
<% end %>

<% unless type == "Student" %>
	<p><a href="<%= problems_url %>">Browse problems</a> to add more</p>
<% end %>