<% count = 0 %>
<% student_links = current_user.links_with_students %>

<h1>Students</h1>

<% ordered_courses.each do |course| %>
	<div class="course">
		<% unless course == "None" %>
			<h3><a href="<%= course_url(course) %>"><%= course.title %></a></h3>
			<form action="<%= course_url(course) %>" method="POST">
				<%= authenticity_token %>
				<input type="hidden" name="_method" value="DELETE">
				<button>Delete</button>
			</form>
		<% end %>
		
		<ul>
			<% course_students[course].each do |student| %>
				<% count += 1 %>
				<li>
					<h5><%= student.name %></h5>
					<p><%= student.email %></p>
					
				</li>
			<% end %>
		</ul>
	</div>
<% end %>

<% if count == 0 %>
	<p> You have no students. </p>
<% end %>

<div class="new_student">
	<form action="<%= teacher_student_links_url %>" method="POST">
		<%= authenticity_token %>
		<h1>Add a Student</h1>
		<label for="student_email">Enter student email:</label>
		<input type="text" name="student_email" id="student_email">
		<button>Add Student</button>
	</form>
</div>

<div class="new_course">
	<h1>Add a New Course</h1>
	<%= render "courses/form", course: @course %>
</div>