<% count = 0 %>

<h1>Students</h1>

<% ordered_courses.each do |course| %>
	<div class="course">
		<% unless course == "None" %>
			<h3><a href="<%= course_url(course) %>"><%= course.title %></a></h3>
			<form action="<%= course_url(course) %>" method="POST">
				<%= authenticity_token %>
				<input type="hidden" name="_method" value="DELETE">
				<button>Delete</button>
			</form>
		<% end %>
		
		<ul>
			<% course_students[course].each do |student| %>
				<% count += 1 %>
				<li>
					<h5><%= student.name %></h5>
					<p><%= student.email %></p>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>

<% if count == 0 %>
	<p> You have no students. </p>
<% end %>

<div class="new_course">
	<h1>Add a New Course</h1>
	<%= render "courses/form", course: @course %>
</div>