<nav class="header">
	<% if logged_in? %>
		Logged in as 
		<a href="<%= user_url(current_user) %>"><%= current_user.name %></a>
		<%= button_to "Log Out", session_url, method: :delete %>
	<% else %>
		<%= link_to "Log In", new_session_url %>
		<%= link_to "Sign Up", new_user_url %>
	<% end %>
	
	<% unless current_assignment.nil? %>
		<p>Current Assignment: <a href="<%= assignment_url(current_assignment) %>"><%= current_assignment.title %></a></p>
	<% end %>
</nav>