<h1><%= @course.title %></h1>
<p><%= @course.description %></p>

<% unless current_user.user_type == "Student" %>

	<%= link_to "Edit", edit_course_url(@course) %>
	
	<form action="<%= course_url(@course) %>" method="POST">
		<%= authenticity_token %>
		<input type="hidden" name="_method" value="DELETE">
		<button>Delete</button>
	</form>

	<p>Course Code: <%= @course.course_code %></p>
	
	<h2>Students</h2>
	<ul>
		<% @students.each do |student| %>
			<li><%= student.name %></li>
		<% end %>
	</ul>
	
	<% unless @teacher_students.empty? %>
		<form action="<%= course_course_students_url(@course) %>" method="POST">
			<%= authenticity_token %>
		
			<h3>Add Students</h3>
		
			<label for="student_id">Choose:</label>
			<select name="student_id" id="student_id">
				<option "selected">--SELECT--</option>
				<% @teacher_students.each do |student| %>
					<option value="<%= student.id %>"><%= student.name %></option>
				<% end %>
			</select>
		
			<button>Add</button>
		</form>
	<% end %>
<% end %>

<h2>Assignments</h2>

<% if @assignments.length > 0 %>
	<ul>
		<% @assignments.each do |assignment| %>
			<li>
				<a href=<%= assignment_url(assignment) %>><%= assignment.title %></a>
				Created on: <%= assignment.created_at.to_date %>
				<% link = CourseAssignment.where("course_id = ? AND assignment_id = ?", @course.id, assignment.id) %>
				<% unless current_user.user_type == "Student" %>
					<%= button_to "Remove", course_assignment_url(link), method: :delete %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>There are no assignments for this course.</p>
<% end %>